PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# CONFIGURACIÓN BASE DE DATOS (POSTGRESQL)
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mascota_virtual_db

# SEGURIDAD JWT
JWT_SECRET=tu_clave_secreta_jwt_aqui
